@font-face{
	font-family: 'HanYi';
	font-style: normal;
	src: url('HanYi.ttf') format('truetype');
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'HanYi';
	overflow: hidden;
	margin:0;
	background: #f7f7f7;
}
#page1{
	text-align: center;
}
#page2{

}
#wait{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
#preloader{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
#main{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*************TEXT****************/
.text{
	position: relative;	
	margin: auto;
	width: auto;
}
.tbox1{
	top: 200px;
	font-size: 45px;
}
.tbox2{
	top: 400px;
	font-size: 30px;
}
.tbox3{
	font-size: 20px;
	top: 120px;
	left: 200px;
	line-height: 3em;
}
.tbox4{
	font-size: 20px;
	top: 120px;
	left: 43%;
	line-height: 2em;
}
#page3 span{
	display: block;
	width: 850px;
}
#page4 span{
	display: block;
	width: 150px;
}
/*************IMAGE****************/
#img1{
	width: 100px;
}
#img2{
	width: inherit;
}
#img3{
	width: inherit;
}
#img4{
	width: inherit;
}
#play{
	width: 80px;
	vertical-align: middle;
}
#previous{
	width: 50px;
	margin-right: 120px;
	vertical-align: middle;
}
#next{
	width: 50px;
	margin-left: 120px;
	vertical-align: middle;
}
.image{
	position: absolute;
}
.ibox1{
	width: 100%;
	top: 300px;
}
.ibox2{
	width: 300px;
	top: 30%;
	left: 25%;
}
.ibox3{
	width: 300px;
	top: 30%;
	left: 50%;
}
.ibox4{
	width: 200px;
	top: 100px;
	left: 41%;
}
.ibox5{
	top: 80%;
	width: 100%;
	float: left;
	text-align: center;
}
/*************BUTTON****************/
.button{
	position: absolute;
	top: 80%;
	width: 150px;
	background-color: #c1c1c1;
	font-size: 30px;
	text-align: center;
}
